<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>show_inter_when_change_object</key>
  <string>true</string>
  <key>inter_when_change_object_location</key>
  <string>3</string>
  <key>inter_back_home</key>
  <string>true</string>
  <key>inter_gameplay</key>
  <string>true</string>
  <key>inter_back_select</key>
  <string>true</string>
  <key>show_video_call</key>
  <string>false</string>
  <key>selectvideotohome</key>
  <string>true</string>
  <key>messagetoselectmessage</key>
  <string>true</string>
  <key>show_reload_ads</key>
  <string>true</string>
  <key>mrec_type</key>
  <string>0</string>
  <key>rating_location</key>
  <string>3</string>
  <key>selectmessagetohome</key>
  <string>true</string>
  <key>show_setting_ads</key>
  <string>true</string>
  <key>show_inter_1</key>
  <string>true</string>
  <key>banner_type_of_screen_1</key>
  <string>0</string>
  <key>rating_popup</key>
  <string>true</string>
  <key>callendedtoselectvideo</key>
  <string>true</string>
  <key>resume_ads</key>
  <string>true</string>
  <key>banner_type_of_screen_2</key>
  <string>0</string>
  <key>banner_type_of_screen_3</key>
  <string>0</string>
  <key>pressbuttonreset</key>
  <string>true</string>
  <key>show_open_ads</key>
  <string>false</string>
  <key>show_open_ads_first_open</key>
  <string>false</string>
  <key>show_inter_2</key>
  <string>true</string>
  <key>onclickselectcharacter</key>
  <string>true</string>
  <key>ads_interval</key>
  <string>5</string>
  <key>END_GAME_ADS_TYPE</key>
  <string>0</string>
  <key>banner_type</key>
  <string>0</string>
  <key>banner_type_of_screen_4</key>
  <string>0</string>
</dict>
</plist>